*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  text-align: center;
}

/*--- Main ---- */
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

}

header {
  color: white;
  font-size: 5rem;
  padding: 1em;
}

/*---- Calculator -----*/

.calculator-grid {
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(5, 90px);
  grid-template-rows: minmax(120px, auto);
  width: fit-content;
  padding: 5px;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 1rem;
  background-color: teal;
  color: #fffffff8;
  margin-bottom: 5px;
}

.output > #current-operand {
  font-size: 2em;
}

/* ---- Buttons ---- */

.buttons-left,
.buttons-right {
  gap: 5px;
}

#button,
#dbl-button {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  line-height: 80px;
}

.buttons-left {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: repeat(4, 80px);
}

.buttons-left > #button {
  background-color: gray;
}

#button.number {
  background-color: white;
}

.buttons-right {
  grid-column: 4/-1;
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(2, 85px);
  grid-template-rows: repeat(4, 80px);
}

.buttons-right > #button,
#dbl-button {
  background-color: gray;
}

.buttons-right > #dbl-button {
  grid-column: span 2;
}

/*---- Footer ----*/

footer {
  bottom: 1rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  position: fixed;
}


.fa-github {
  color: black;
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

#github-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
