* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
  background-color: #111;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main {
  width: fit-content;
  height: auto;
  padding: 5em;
  background-color: black;
  text-align: center;
}

.title {
  margin: 1em auto;
  text-align: center;
  font-size: 4em;
  color: white;
}

.scoreMessage {
  margin: 0.5em auto;
  padding: 0 15px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  font-size: 2em;
  font-weight: 600;
  color: white;
  width: fit-content;
  height: 60px;
}
.resultGraphic {
  margin: auto;
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  border: 1px solid yellow;
  align-items: center;
  width: fit-content;
}

#plResultGraph, #aiResultGraph {
  border: 1px solid white;
  height: 200px;
  width: 200px;
}

.messages {
  border: 1px solid white;
  height: 150px;
  width: fit-content;
  margin: 0.5em auto;
  font-size: 2em;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

.buttons {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .button {
  margin: 10px;
  background: #e74c3c;
  border-bottom: 15px solid #992317;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: whitesmoke;
  text-align: center;
  vertical-align: middle;
  line-height: 135px;
  cursor: pointer;
  user-select: none;
  transition: background 0.05s linear;
  transition: all 0.05s linear;
  transform: translate(-5px, -3px);
}

.buttons .button:active {
  border-bottom: 8px solid #992317;
  background-color: #d14536;
  transform: translateY(3px);
}
